<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dx168.patchsdk">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application>
        <service
            android:name=".RestartService"
            android:process=":restart"/>

        <receiver android:name=".DebugReceiver">
            <intent-filter>
                <action android:name="com.dx168.patchsdk.DebugReceiver.PATCH"/>
                <action android:name="com.dx168.patchsdk.DebugReceiver.RESTART"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".tinker.SampleResultService"
            android:exported="false"/>

        <service
            android:name=".tinker.SamplePatchService"
            android:exported="false"
            android:process=":patch"/>

    </application>
</manifest>