<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#springUrl('/static/img/favicon.ico')">

    <title>补丁管理后台-404</title>

    <!-- Bootstrap core CSS -->
    <link href="#springUrl('/static/css/bootstrap.min.css')" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="#springUrl('/static/css/signin.css')" rel="stylesheet">
</head>

<body>

<div style="float: right;margin-right: 50px;">
    <img src="#springUrl('/static/img/baozou.png')" />
</div>

<div class="container">
    <h1>卧槽，找不到您要的页面......</h1>
    <hr>
    <h3>最可能的原因是：</h3>
    <ul>
        <li>· 在地址中可能存在键入错误。</li>
        <li>· 当你点击某个链接时，它可能已过期</li>
    </ul>
    <button onclick="location.href='#springUrl('')/app/list'">返回首页</button>

</div>
</body>
</html>