<!DOCTYPE html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>补丁管理后台-补丁管理</title>
    <link rel="icon" href="#springUrl('/static/img/favicon.ico')">

    <!-- Bootstrap Core CSS -->
    <link href="#springUrl('/static/css/bootstrap.min.css')" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="#springUrl('/static/css/sb-admin.css')" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="#springUrl('/static/font-awesome/css/font-awesome.min.css')" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script type="text/javascript" src="#springUrl('/static/js/jquery.js')"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="#springUrl('/static/js/bootstrap.min.js')"></script>

    <script type="text/javascript" src="#springUrl('/static/js/bootbox.min.js')"></script>
</head>

<body>

<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#springUrl('/app/list')">补丁管理后台</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> $!restR.data.user.username <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#springUrl('/logout')"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> $!restR.data.appInfo.appname <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li>
                            <a href="#springUrl('/app/list')">全部应用</a>
                        </li>

                        #foreach($appInfo in $restR.data.appInfoList)
                            <li>
                                <a href="#springUrl('')/app?appUid=$!appInfo.uid">$!appInfo.appname</a>
                            </li>
                        #end
                    </ul>
                </li>

                <li>
                    <a href="#springUrl('')/app?appUid=$!restR.data.appInfo.uid"><i class="fa fa-fw fa-file"></i> 应用管理</a>
                </li>

                <li>
                    <a href="#springUrl('/app/list')"><i class="fa fa-fw fa-dashboard"></i> 应用列表</a>
                </li>

                <div class="bt_l">
                    <a href="https://github.com/baidao/tinker-manager" target="_blank">Fork on Github</a>
                </div>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper" style="height: 1000px">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">
                        补丁详情 <small></small>
                    </h2>

                    <p>
                        <a href="#springUrl('/app/list')">首页</a>
                        /
                        <a href="#springUrl('')/app?appUid=$!restR.data.appInfo.uid">应用管理</a>
                        /
                        <a href="#springUrl('')/app/version?appUid=$!restR.data.appInfo.uid&versionName=$!restR.data.versionInfo.versionName">版本详情</a>
                    </p>

                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

        <div class="container-fluid">
            <table class="table table-bordered">
                <tr>
                    <td>应用名称: $!restR.data.appInfo.appname
                        #if($restR.data.appInfo.packageName)
                            ($restR.data.appInfo.packageName)
                        #end
                    </td>
                    <td>应用版本: $!restR.data.versionInfo.versionName</td>
                    <td>补丁版本: $!restR.data.patchInfo.patchVersion</td>
                </tr>

                <tr>
                    <td>补丁描述: $!restR.data.patchInfo.description</td>
                    <td>上传时间: $!date.format('yyyy-MM-dd HH:mm:ss',$!restR.data.patchInfo.createdAt)</td>
                    <td>补丁文件: $!restR.data.patchInfo.formatPatchSize &nbsp;&nbsp; $!restR.data.patchInfo.fileHash</td>
                </tr>
            </table>


            #if($restR.data.qrcodeImg)
                <img src="$!restR.data.qrcodeImg"/>

                正式发布前建议您先进行本地测试
                请使用 <a href="http://fir.im/tpks" target="_blank">debug工具</a> 扫描左侧二维码,下载补丁进行本地调试(patchsdk从1.0.8开始支持二维码调试)
            #end

            #if($!restR.data.patchInfo.status == 0)

                <div id="gray_publish_container">

                    请输入用于灰度发布的tag(如果有多个tag用;分隔)
                    <input type="text" id="gray_tags" style="width:900px" value="$!restR.data.tags" />
                </div>

                <br />
                <input type="button" id="gray_publish" value="灰度发布" />  &nbsp;&nbsp;&nbsp;

                <br />
                <br />
                <input type="button" id="normal_publish" value="全量发布" />

                <br />
                <br />

                <input type="button" id="del_patch" value="删除补丁" />
            #elseif($!restR.data.patchInfo.status == 1)
                <div id="total">
                    应用成功：<span class="t_num" id="apply_success_size">$!restR.data.patchInfo.applySuccessSize</span>次
                    &nbsp;&nbsp;&nbsp;  总应用：<span class="t_num2" id="apply_size">$!restR.data.patchInfo.applySize</span>次
                    &nbsp;&nbsp;&nbsp;  成功率:
                    <span class="t_num2" id="success_scale">
                        $!restR.data.patchInfo.formatApplyScale
                    </span>
                </div>
                <br />
                #if($!restR.data.patchInfo.publishType == 0)
                    当前处于灰度发布 &nbsp;&nbsp;(tags: &nbsp; $!restR.data.patchInfo.tags)
                    <br />
                    <br />

                    <input type="button" id="stop_publish" value="停止灰度发布" /> &nbsp;&nbsp;&nbsp; <input type="button" id="normal_publish" value="全量发布" />
                #else
                    <input type="button" id="stop_publish" value="停止发布" />
                #end
            #elseif($!restR.data.patchInfo.status == 2)
                <div id="total">
                    应用成功：<span class="t_num" id="apply_success_size">$!restR.data.patchInfo.applySuccessSize</span>次
                    &nbsp;&nbsp;&nbsp;  总应用：<span class="t_num2" id="apply_size">$!restR.data.patchInfo.applySize</span>次
                    &nbsp;&nbsp;&nbsp;  成功率:
                    <span class="t_num2" id="success_scale">
                        $!restR.data.patchInfo.formatApplyScale
                    </span>
                </div>
                <br />

                <input type="button" id="normal_publish" value="继续发布(全量)" />

                <input type="button" id="del_patch" value="删除补丁" />
            #end

        </div>
    </div>
    <!-- /#page-wrapper -->
</div>

<script>
    function getData() {
        jQuery.ajax({
            url:  "#springUrl('')/patch/info?appUid=$!restR.data.patchInfo.appUid&id=$!restR.data.patchInfo.id",
            type: 'post',
            success:function(res, textStatus, jqXHR){
                if (res.code == 200) {
                    console.log('refresh data applySuccessSize： ' + res.data.patchInfo.applySuccessSize + ' applySize: ' + res.data.patchInfo.applySize);

                    $("#apply_success_size").text(res.data.patchInfo.applySuccessSize)
                    $("#apply_size").text(res.data.patchInfo.applySize)
                    $("#success_scale").text(res.data.successScale)
                }
            }
        });
    }

    $(document).ready(function(){
        $("#normal_publish").click(function(){
            var dialog = bootbox.dialog({
//                title: 'A custom dialog with init',
                message: '<p><i class="fa fa-spin fa-spinner"></i> 正在处理...</p>'
            });
            dialog.init(function(){
                jQuery.ajax({
                    url:  "#springUrl('')/patch/normal_publish?appUid=$!restR.data.patchInfo.appUid&id=$!restR.data.patchInfo.id",
                    type: 'post',
                    success:function(res, textStatus, jqXHR){
                        if (res.code == 200) {
                            dialog.find('.bootbox-body').html('发布成功!');

                            setTimeout(function(){
                                window.location.href = window.location.href;
                            }, 500);
                        } else {
                            dialog.find('.bootbox-body').html(res.message);
                        }
                    },
                    error:function(XMLHttpRequest, textStatus, errorThrown){
                        dialog.find('.bootbox-body').html('系统异常!');
                    }
                });
            });
        });

        $("#stop_publish").click(function(){
            bootbox.confirm({
                message: "确定停止发布这个补丁吗?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    console.log('This was logged in the callback: ' + result);

                    if (!result) {
                        return;
                    }

                    var dialog = bootbox.dialog({
//                title: 'A custom dialog with init',
                        message: '<p><i class="fa fa-spin fa-spinner"></i> 正在处理...</p>'
                    });
                    dialog.init(function(){
                        jQuery.ajax({
                            url:  "#springUrl('')/patch/stop_publish?appUid=$!restR.data.patchInfo.appUid&id=$!restR.data.patchInfo.id",
                            type: 'post',
                            success:function(res, textStatus, jqXHR){
                                console.log(res);
                                if (res.code == 200) {
                                    dialog.find('.bootbox-body').html('已停止发布!');

                                    setTimeout(function(){
                                        window.location.href = window.location.href;
                                    }, 500);
                                } else {
                                    dialog.find('.bootbox-body').html(res.message);
                                }
                            },
                            error:function(XMLHttpRequest, textStatus, errorThrown){
                                dialog.find('.bootbox-body').html('系统异常!');
                            }
                        });
                    });
                }
            });
        });

        $("#del_patch").click(function(){
            bootbox.confirm({
                message: "确定删除这个补丁吗?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    console.log('This was logged in the callback: ' + result);

                    if (!result) {
                        return;
                    }

                    var dialog = bootbox.dialog({
//                title: 'A custom dialog with init',
                        message: '<p><i class="fa fa-spin fa-spinner"></i> 正在处理...</p>'
                    });
                    dialog.init(function(){
                        jQuery.ajax({
                            url:  "#springUrl('')/patch/delete?appUid=$!restR.data.patchInfo.appUid&id=$!restR.data.patchInfo.id",
                            type: 'post',
                            success:function(res, textStatus, jqXHR){
                                if (res.code == 200) {
                                    dialog.find('.bootbox-body').html('删除成功!');

                                    setTimeout(function(){
                                        window.location.href = "#springUrl('')/app/version?appUid=$!restR.data.patchInfo.appUid&versionName=$!restR.data.patchInfo.versionName";
                                    }, 500);
                                } else {
                                    dialog.find('.bootbox-body').html(res.message);
                                }
                            },
                            error:function(XMLHttpRequest, textStatus, errorThrown){
                                dialog.find('.bootbox-body').html('系统异常!');
                            }
                        });
                    });
                }
            });
        });

        $("#gray_publish").click(function(){
            if ($("#gray_tags").val().length == 0) {
                bootbox.alert({
                    message: "tag列表不能为空!",
                    size: 'small'
                });
                return;
            }

            var dialog = bootbox.dialog({
//                title: 'A custom dialog with init',
                message: '<p><i class="fa fa-spin fa-spinner"></i> 正在处理...</p>'
            });
            dialog.init(function(){
                jQuery.ajax({
                    url:  "#springUrl('')/patch/gray_publish?appUid=$!restR.data.patchInfo.appUid&id=$!restR.data.patchInfo.id&tags=" + $("#gray_tags").val(),
                    type: 'post',
                    success:function(res, textStatus, jqXHR){
                        if (res.code == 200) {
                            dialog.find('.bootbox-body').html('灰度发布成功!');

                            setTimeout(function(){
                                window.location.href = window.location.href;
                            }, 500);
                        } else {
                            dialog.find('.bootbox-body').html("<font color='red'>" + res.message + "</font>");
                        }
                    },
                    error:function(XMLHttpRequest, textStatus, errorThrown){
                        dialog.find('.bootbox-body').html("<font color='red'>系统异常!</font>");
                    }
                });
            });
        });
        window.setInterval("getData()",1000 * 40);
    });
</script>
</body>

</html>
