<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2015-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dx168.patchserver.core.mapper.PatchLogMapper">
    <resultMap id="BaseResultMap" type="com.dx168.patchserver.core.domain.PatchLog" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="app_uid" property="appUid" />
        <result column="token" property="token" />
        <result column="version_name" property="versionName" />
        <result column="patch_uid" property="patchUid" />
        <result column="patch_version" property="patchVersion" jdbcType="INTEGER"/>
        <result column="error_code" property="errorCode"/>
        <result column="error_name" property="errorName" />
        <result column="error_msg" property="errorMsg" />
        <result column="platform" property="platform" />
        <result column="os_version" property="osVersion" />
        <result column="model" property="model" />
        <result column="channel" property="channel" />
        <result column="device_id" property="deviceId" />
        <result column="sdk_version" property="sdkVersion" />
        <result column="tags" property="tags" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <insert id="insert" parameterType="com.dx168.patchserver.core.domain.PatchLog">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into t_patch_log (
        app_uid,token, version_name,patch_uid,patch_version,error_code,error_msg,platform,os_version,model,channel,device_id,sdk_version,tags
        )
        values (
        #{appUid,jdbcType=INTEGER},
        #{token,jdbcType=VARCHAR},
        #{versionName,jdbcType=VARCHAR},
        #{patchUid,jdbcType=VARCHAR},
        #{patchVersion,jdbcType=INTEGER},
        #{errorCode,jdbcType=VARCHAR},
        #{errorMsg,jdbcType=VARCHAR},
        #{platform,jdbcType=VARCHAR},
        #{osVersion,jdbcType=VARCHAR},
        #{model,jdbcType=VARCHAR},
        #{channel,jdbcType=VARCHAR},
        #{deviceId,jdbcType=VARCHAR},
        #{sdkVersion,jdbcType=VARCHAR},
        #{tags,jdbcType=VARCHAR}
        )
    </insert>

    <select id="findByPage" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT t1.*,t2.`name` error_name from t_patch_log t1 LEFT JOIN t_error_code t2 on t1.error_code=t2.`code`
        where t1.app_uid = #{appUid}
        <if test="versionName != null">
            and t1.version_name = #{versionName}
        </if>
        <if test="patchVersion != null">
            and t1.patch_version = #{patchVersion}
        </if>
        <if test="errorCode != null">
            and t1.error_code = #{errorCode}
        </if>
        <if test="model != null">
            and t1.model = #{model}
        </if>
        <if test="status == 1">
            and t1.error_code = 0
        </if>
        <if test="status == 0">
            and t1.error_code  != 0
        </if>
        <if test="startTime != null">
            and t1.created_at &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and t1.created_at &lt;= #{endTime}
        </if>
        order by t1.created_at desc
    </select>

</mapper>
