<!DOCTYPE html>

<html>
<body>


<p >$!restR.message</p>

<form action="#springUrl('/app/create')" method="post">
    应用名字<input name="appname" >
    应用描述<input name="description">
    <input type="submit" value="创建">
</form>

<br />
</body>

</html>