<!DOCTYPE html>

<html>
<script type="text/javascript" src="#springUrl('/static/js/jquery.min.js')"></script>
<body>

<p >$!restR.message</p>

</br>

    #if($restR.code == 200)
        <h2>补丁详情</h2>

        应用版本: $!restR.data.patchInfo.versionName
        <br />
        补丁版本: $!restR.data.patchInfo.patchVersion
        <br />
        补丁文件: $!restR.data.patchInfo.fileHash &nbsp;&nbsp; $!restR.data.patchInfo.formatPatchSize
        <br />
        补丁描述: $!restR.data.patchInfo.description
        <br />
        上传时间: $!date.format('yyyy-MM-dd HH:mm:ss',$!restR.data.patchInfo.createdAt)
        <br />
        <br />
        <br />

        #if($!restR.data.patchInfo.status == 0)

        <div id="gray_publish_container">

            请输入用于灰度发布的tag(如果有多个tag用分号(;)分隔)
            <input type="text" id="gray_tags" style="width:700px">
        </div>

            <br />
            <input type="button" id="gray_publish" value="灰度发布" />  &nbsp;&nbsp;&nbsp;

        <br />
        <br />
        <input type="button" id="normal_publish" value="全量发布" />

            <br />
            <br />
        #elseif($!restR.data.patchInfo.status == 1)
            #if($!restR.data.patchInfo.publishType == 0)
                当前处于灰度发布 &nbsp;&nbsp;(tags: &nbsp; $!restR.data.patchInfo.tags)
                <br />
                <br />
                <input type="button" id="stop_publish" value="停止灰度发布" /> &nbsp;&nbsp;&nbsp; <input type="button" id="normal_publish" value="全量发布" />
            #else
                <input type="button" id="stop_publish" value="停止发布" />
            #end
        #elseif($!restR.data.patchInfo.status == 2)
             <input type="button" id="normal_publish" value="继续发布(全量))" /> &nbsp;&nbsp;&nbsp; <input type="button" id="del_patch" value="删除当前patch" />
##             &nbsp;&nbsp;&nbsp; <input type="button" id="rollback" value="选择回滚" />
        #end
    #end

    <script>
        $(document).ready(function(){
            $("#normal_publish").click(function(){
                jQuery.ajax({
                    url:  "#springUrl('')/patch/normal_publish?appUid=$!restR.data.patchInfo.appUid&id=$!restR.data.patchInfo.id",
                    type: 'post',
                    success:function(res, textStatus, jqXHR){
                        console.log(res);
                        if (res.code == 200) {
                            alert('发布成功!');
                            window.location.href = window.location.href;
                        } else {
                            alert(res.message);
                        }
                    },
                    error:function(XMLHttpRequest, textStatus, errorThrown){
                        alert("系统异常");
                    }
                });
            });

            $("#stop_publish").click(function(){
                jQuery.ajax({
                    url:  "#springUrl('')/patch/stop_publish?appUid=$!restR.data.patchInfo.appUid&id=$!restR.data.patchInfo.id",
                    type: 'post',
                    success:function(res, textStatus, jqXHR){
                        console.log(res);
                        if (res.code == 200) {
                            alert('已停止发布!');
                            window.location.href = window.location.href;
                        } else {
                            alert(res.message);
                        }
                    },
                    error:function(XMLHttpRequest, textStatus, errorThrown){
                        alert("系统异常");
                    }
                });
            });

            $("#del_patch").click(function(){
                jQuery.ajax({
                    url:  "#springUrl('')/patch/delete?appUid=$!restR.data.patchInfo.appUid&id=$!restR.data.patchInfo.id",
                    type: 'post',
                    success:function(res, textStatus, jqXHR){
                        console.log(res);
                        if (res.code == 200) {
                            alert('删除成功!');
                            window.location.href = "#springUrl('')/app/version?appUid=$!restR.data.patchInfo.appUid&versionName=$!restR.data.patchInfo.versionName";
                        } else {
                            alert(res.message);
                        }
                    },
                    error:function(XMLHttpRequest, textStatus, errorThrown){
                        alert("系统异常");
                    }
                });
            });

            $("#gray_publish").click(function(){
                if ($("#gray_tags").val().length == 0) {
                    alert('tag列表不能为空');
                    return;
                }

                jQuery.ajax({
                    url:  "#springUrl('')/patch/gray_publish?appUid=$!restR.data.patchInfo.appUid&id=$!restR.data.patchInfo.id&tags=" + $("#gray_tags").val(),
                    type: 'post',
                    success:function(res, textStatus, jqXHR){
                        console.log(res);
                        if (res.code == 200) {
                            alert('灰度发布成功!');
                            window.location.href = window.location.href;
                        } else {
                            alert(res.message);
                        }
                    },
                    error:function(XMLHttpRequest, textStatus, errorThrown){
                        alert("系统异常");
                    }
                });
            });
        });
    </script>
</body>
</html>