<!DOCTYPE html>

<html>
<link rel="stylesheet" type="text/css" href="#springUrl('/static/css/main.css')" />
<body>


<p >$!restR.message</p>

<form action="#springUrl('/regist')" method="post">
    用户名<input name="username" >
    密码<input name="password">

    <input name="redirect" type="hidden" value="$restR.data.redirect">
    <input type="submit" value="注册">
</form>
</body>

</html>