<!DOCTYPE html>

<html>
<body>

    #if($restR.code == 200)
        <h2>应用信息</h2>

        应用名称: $!restR.data.appInfo.appname
        <br />
        应用描述: $!restR.data.appInfo.description
        <br />
        发布平台: $!restR.data.appInfo.platform
        <br />
        App ID:  $!restR.data.appInfo.uid
        <br />
        App Secret:$!restR.data.appInfo.secret
        <br />
        <br />
        <br />

    <h2>当前应用版本: $!restR.data.versionInfo.versionName</h2>

    <br />
        <a href="#springUrl('')/patch/create?appUid=$!restR.data.appInfo.uid&versionName=$!restR.data.versionInfo.versionName">添加新补丁</a>
        <br />
        <br />

    <h2>补丁列表</h2>
    <br />

    <table>
        <tr>
            <th>补丁版本</th>
            <th>|</th>
            <th>补丁大小</th>
            <th>|</th>
            <th>补丁描述</th>
            <th>|</th>
            <th>上传时间</th>
            <th>|</th>
            <th>发布状态</th>
            <th>|</th>
            <th>操作</th>
        </tr>

        #foreach($patchInfo in $restR.data.patchInfoList)
            <tr>
                <th>$!patchInfo.patchVersion</th>
                <th>|</th>
                <th>$!patchInfo.formatPatchSize</th>
                <th>|</th>
                <th>$!patchInfo.description</th>
                <th>|</th>
                <th>$!date.format('yyyy-MM-dd HH:mm:ss',$!patchInfo.createdAt)</th>
                <th>|</th>
                <th>
                    #if($patchInfo.status == 0)
                        未发布
                    #elseif($patchInfo.status == 1)
                        #if($patchInfo.publishType == 0)
                            已灰度发布
                        #else
                            已全量发布
                        #end
                    #elseif($patchInfo.status == 2)
                        已停止
                    #end

                </th>
                <th>|</th>
                <th><a href="#springUrl('')/patch?appUid=$restR.data.appInfo.uid&id=$!patchInfo.id">查看详情</a></th>
            </tr>
        #end
    </table>
    #else
        $restR.message
    #end

</body>

</html>