<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2015-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tinker.console.core.mapper.AppMapper">
    <resultMap id="BaseResultMap" type="tinker.console.core.domain.AppInfo" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="app_name" property="appName" jdbcType="VARCHAR" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <select id="findByUserIdAndName" resultType="tinker.console.core.domain.AppInfo" resultMap="BaseResultMap" >
        select * from t_app_info
        where user_id = #{userId} and appname = #{appname}
    </select>

    <select id="findByUid" resultType="tinker.console.core.domain.AppInfo" resultMap="BaseResultMap" >
        select * from t_app_info
        where uid = #{uid}
    </select>

    <insert id="insert" parameterType="tinker.console.core.domain.BasicUser">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into t_app_info (
        user_id, appname, platform,uid,description,secret,public_key,private_key, created_at, updated_at
        )
        values (
        #{userId,jdbcType=INTEGER},
        #{appname,jdbcType=VARCHAR},
        #{platform,jdbcType=VARCHAR},
        #{uid,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR},
        #{secret,jdbcType=VARCHAR},
        #{publicKey,jdbcType=VARCHAR},
        #{privateKey,jdbcType=VARCHAR},
        #{createdAt,jdbcType=TIMESTAMP},
        #{updatedAt,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="findAllByUserId" resultMap="BaseResultMap">
        SELECT id, user_id, appname, platform,uid,description,secret,public_key,private_key, created_at, updated_at
        FROM t_app_info where user_id = #{userId}
        order by created_at desc ;
    </select>
</mapper>
